<a href="https://colab.research.google.com/github/anushree1125/Udemy_pythoncourse/blob/main/Fundamental_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Palindrome**

In [7]:
def pal(x):
  x1 = x[::-1]
  if x1 == x:
    print(x,"is a palindrome")
  else:
    print(x,"not a palindrome")
print(pal('ana'))

ana is a palindrome
None

**Factorial**

In [8]:
def factorial(n):
  fact=1
  for i in range(1, n+1):
    fact = fact*i
    return fact
  num = int(input("Enter a value "))
  resukt = factorial(num)
  print(result)

**Fibonacci series**

In [ ]:
#every next term generated is a sum of two precedding two terms
0 1 1 2 3 5 8...

In [11]:
n =  int(input("Enter number of elements "))
a =  int(input("Enter first element "))
b =  int(input("Enter second of element "))
print(a,b,end=" ")
while n-2:
  c = a+b
  a = b
  b = c
  print(c,end=" ")
  n = n-1

Enter number of elements 5
Enter first element 1
Enter second of element 2
1 2 3 5 8

**Program to check armstrong number**

In [ ]:
#A number is a armstrong number if sum of cube of the digits is equal to the number

In [ ]:
#153 = 1^3 +  5^3 +  3^3 =153

In [14]:
num = int(input("Enter the number"))
sum = 0
temp = num
while temp>0:
  digit = temp % 10
  sum += digit**3
  temp //= 10
if num == sum:
  print(num," is a armstrong no")
else:
  print(num," is not a armstrong no")

Enter the number153
153  is a armstrong no

**Odd or even**

In [16]:
num = int(input("Enter a number "))
if num%2 == 0:
  print("Even numner")
else:
  print("Odd number")

Enter a number 45
Odd number

**Leap year**

In [ ]:
# year%4 ==0 :leap year
# year % 100==0 :not a loop
# year % 400 ==0 : leap year
#  year % 100==0 ,year % 400 ==0 :leap year

In [19]:
y = int(input("Enter the year: "))
if(y%4 == 0):
  if(y% 100 ==0):
    if( y % 400 == 0):
      print("Leap year")
    else:
      print("not a leap year")
  else:
    print("not a leap year")
else:
  print("not a leap year")

Enter the year: 2000
Leap year

**Prime number**

In [ ]:
# factors re 1 and the number itself

In [21]:
num = int(input("Enter the number"))
if num>1:
  for i in range(2,num):
    if(num%i == 0):
      print("Entered number is not a prime number")
      print(i,"times",num//i,"is",num)
      break
    else:
      print(num,"is a prime number")
else:
  print("Entered number is not a prime number")

Enter the number8
Entered number is not a prime number
2 times 4 is 8

**Areas of shape**

In [ ]:
#findind areas of different shapes

In [24]:
import math
pi = math.pi
def circle(r):
  return pi*r**2
def cube(s):
  return 6*s**2
def cylinder(r,h):
  return 2*pi*r*h + 2 * pi * r **2
print(circle(5))
print(cube(10))
print(cylinder(5,10))

78.53981633974483
600
471.23889803846896

**List reversing**

In [25]:
list = [1,2,3,4,5,6,7,8]
print(list[::-1])  #using slicing

[8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
list = [1,2,3,4,5,6,7,8]
list.reverse() #using reverse method
print(list)

[8, 7, 6, 5, 4, 3, 2, 1]