<a href="https://colab.research.google.com/github/anushree1125/Udemy_pythoncourse/blob/main/udemy_python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
a = 20
b = "goeduhub"
print(a,b)

20 goeduhub

In [ ]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Numerical data type**

In [ ]:
a = 10
b = 20.67
c = "anushree"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
d = 2+15j
e = 89>56
print(d)
print(e)
print(type(d))
print(type(e))

(2+15j)
True
<class 'complex'>
<class 'bool'>

**String data type**

In [ ]:
l = "python"
print(l[2])

t

In [ ]:
g = input()
print('hello', g)

anu
hello anu

In [ ]:
k = 'python'
print(k.upper())

PYTHON

In [ ]:
k = 'python'
c = k.replace('n','N')
print(c)

pythoN

**Lists**

In [ ]:
list = [10,20,30,40]
print(list)
print("")

list.pop()
print(list)
print("")

list.append(78)
print(list)
print("")

list.remove(10)
print(list)
print("")

list.append(0)
print(list)
print("")

list.sort()
print(list)
print("")

list.reverse()
print(list)

[10, 20, 30, 40]

[10, 20, 30]

[10, 20, 30, 78]

[20, 30, 78]

[20, 30, 78, 0]

[0, 20, 30, 78]

[78, 30, 20, 0]

**Tuple**

In [ ]:
t1 = ('2','3','4','5')
t1

('2', '3', '4', '5')

In [ ]:
t1*2

('2', '3', '4', '5', '2', '3', '4', '5')

In [ ]:
t2 = ('hello ','world')
t2

('hello ', 'world')

In [ ]:
t1+t2

('2', '3', '4', '5', 'hello ', 'world')

In [ ]:
del t2

In [ ]:
t2 #t2 is already deleted

NameError: ignored

**Dictionaries**

In [ ]:
dict = {1:'a',2:'b', 3:'c'}
print(dict)
print("")

dict[4]='abc'
print(dict)
print("")

dict.pop(3)
print(dict)
print("")

dict.clear()
print(dict)

{1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c', 4: 'abc'}

{1: 'a', 2: 'b', 4: 'abc'}

{}

**Set**

In [ ]:
set = {1,2,'abc'}
print(set)
print("")

print(len(set))
print("")

for x in set: #accessing element
  print(x)
print("")

set.add('xy')
print(set)
print("")

set.update([6,89,0]) #adding multiple element
print(set)
print("")

set.remove('abc')
print(set)
print("")

set.clear()
print(set)

{1, 2, 'abc'}

3

1
2
abc

{1, 2, 'xy', 'abc'}

{0, 1, 2, 'abc', 6, 89, 'xy'}

{0, 1, 2, 6, 89, 'xy'}

set()

**Loop**

In [ ]:
for i in x:
  print(x)

(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)
(1, 2, 3, 4)

In [ ]:
x = range(3, 20, 2)
for n in x:
  print(n)

3
5
7
9
11
13
15
17
19

**Conditional statement**

break

In [ ]:
list = [1,2,3,4,5]
for i in list:
  if i == 4:
    break
  print(i)

1
2
3

continue

In [ ]:
list = [1,2,3,4,5]
for i in list:
  if i == 4:
    continue
  print(i)

1
2
3
5

Pass

In [ ]:
list = [1,2,3,4,5,6,7,8,9,10]
for i in list:
  if i %2 == 0:
    pass
  else:
    print(i)

1
3
5
7
9

while loop with break and continue

In [ ]:
num = int(input("Enter num: "))
while num>0:
  num = num-1
  if num == 3:
    continue
    print(num)
  print("Number= ",num)

Enter num: 5
Number=  4
Number=  2
Number=  1
Number=  0

In [ ]:
num = int(input("Enter num: "))
while num>0:
  num = num-1
  if num == 3:
    break
    print(num)
  print("Number= ",num)

Enter num: 6
Number=  5
Number=  4

**Decision making in python**

In [ ]:
a = int(input("enter 1st num:"))
b = int(input("enter 2nd num:"))
print("Larger num is")
if(a>b):
  print(a)
else:
  print(b)

enter 1st num:6
enter 2nd num:7
Larger num is
7

In [ ]:
a = int(input("enter 1st num:"))
b = int(input("enter 2nd num:"))
print("Larger num is")
if(a>b):
  print(a)
elif(a==b):
  print("oh no! Both has same value3")
else:
  print(b)

enter 1st num:3
enter 2nd num:3
Larger num is
oh no! Both has same value

In [ ]:
a = int(input("enter num:"))
if(a>50):
  print("Greater than 50")
  if a<60:
    print("Less than 60")
  else:
    print("Greater than or equal to 60")
else:
  print("Less than 50")
  if a<30:
    print("Less than 30")
  else:
    print("Greater than or equal to 30")

enter num:45
Less than 50
Greater than or equal to 30